.pokedex-frame {
    display: flex;
    background-color: #e61515;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 15px;
    border: double black 10px;
}

.pokedex-container {
    display: flex;
    width:40%;
    min-width: 90vh;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-items: center
}

.panel {
    padding: 15px;
    border: inset #b31818 3px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
