.panel-camera-top {
    display: flex;
    padding: 0px 0 0 3px;
    justify-content: space-evenly;
    background:#e61515;
}

.panel-camera-bottom {
    display: flex;
    padding: 0 0 0px 3px;
    justify-content: space-evenly;
    background:#e61515;
}


.panel-camera-1 {
    height: 25px;
    border-top: solid #460f0f 2px;
    border-left: solid #460f0f 2px;
    display: flex;
    flex: 1;
    background:#8B1500;
}

.panel-camera-2 {
    height: 25px;
    flex: 1;
    border-top: solid #460f0f 2px;
    background:#8B1500;
    border-bottom-right-radius: 10%;
}

.panel-camera-3 {
    height: 25px;
    border-left: solid #460f0f 2px;
    flex: 1;
    background:#8B1500;
    border-bottom-right-radius: 5%;
}

.panel-camera-4 {
    height: 25px;
    flex: 1;
    background: #e61515;
    border-top-left-radius: 100%;
}

.inverse {
    height: 25px;
    flex: 1;
    background: #8B1500;
}

.circle-camera {
    position: fixed;
    background:  radial-gradient(ellipse at center, #d5edff 7%, #718594 13%,#7db9e8 19%,#1e5799 43%,#1e5799 43%,#2989d8 47%,#2989d8 47%,#1e5799 55%,#207cca 69%,#207cca 75%,#207cca 75%,#207cca 81%,#2989d8 90%);;
    margin-left: 12px;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    z-index: 999;
    border-radius: 100%;
}

.panel-title {
    position: fixed;
    margin-left: 55px;
    margin-top: 4px;
    z-index: 1000;
    width: 100px;
    min-width: 50px;
}
