.pokemon-description {
    display: flex;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 3% 0;
}

.description-container{
    /* display: flex; */
    height: 100%;
}