.type-list {
    display: flex;
    flex-direction: column;
    border-left: groove #757575 3px;
    flex: 1;
}
.type-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    background: linear-gradient(14deg, #afafaf 50%, #ffffff 80%, #afafaf 90%);
    border-top: groove #757575 3px;
}

.type {
    color: rgba(0, 0, 0, 0.9);
    text-transform: capitalize;
    font-size: 1em;
    padding: 2px;
    margin: 2px;
    border: groove #757575 3px;
    border-radius: 10px;
    width: 90%;
    font-family: "Staatliches", cursive;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: rgba(255, 255, 255, 0.3) -1px 1px;
    align-self: center;
    background: linear-gradient(
        15deg,
        rgba(197, 197, 197, 0.5) 64%,
        rgba(138, 138, 138, 0.5) 70%,
        rgba(230, 230, 230, 0.5) 81%,
        rgba(255, 255, 255, 0.5) 86%,
        rgba(220, 220, 220, 0.5) 89%,
        rgba(230, 230, 230, 0.5) 100%
    );
    background-blend-mode: hard-light;
}


.normal {
    background-color: #9f9f6a;
}
.fighting {
    background-color: #b42a20;
}
.flying {
    background-color: #9c86eb;
}
.poison {
    background-color: #963898;
}
.ground {
    background-color: #dcb85e;
}
.rock {
    background-color: #ad9631;
}
.bug {
    background-color: #9eaf1f;
}
.ghost {
    background-color: #654d8d;
}
.steel {
    background-color: #afafca;
}
.fire {
    background-color: #ee7529;
}
.water {
    background-color: #5e85f0;
}
.grass {
    background-color: #6dbf48;
}
.electric {
    background-color: #f6ca29;
}
.psychic {
    background-color: #f44e7d;
}
.ice {
    background-color: #90d0d5;
}
.dragon {
    background-color: #6532fd;
}
.dark {
    background-color: #644e41;
}
.fairy {
    background-color: #ff90de;
}
.unknown {
    background-color: #545454;
}
.shadow {
    background-color: #364163;
}