.pokemon-photo-frame {
    width: 100%;
    display: flex;
    justify-content: center;
    border: inset #9aa28b 3px;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(15deg, #cad5b5 64%, #dde2d4 70%, #dde2d4 81%, #fff 86%, #dde2d4 89%, #dde2d4 100%);
}


.pokemon-photo {
    width: 100%;
    display: flex;
    image-rendering: pixelated;
}